h1{
	font-weight:bold;
	font-size:50px;
	text-align: center;
	font-family: 'Archivo Black', sans-serif;
}

ul {
	background-color: white;
	padding:10px;
	text-align: center;
}
li {
	font-weight:bold;
	display: inline;
	margin:10px;
	
}
p{
	font-size: 18px;
	margin-bottom: 20px;

}
p{
	text-align: left;
	font-weight: bold;
	font-family: 'Frank Ruhl Libre';
}
.rain {
	text-align: center;
}

.brooks {
  position: relative;
  font-family: 'Sanchez', serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-style: italic;
  &:before {
      content: '\201C';
      position: absolute;
      top: 0.25em;
      left: -0.15em;
      color: darken($white, 7%);
      font-size: 15em;
      z-index: -1;
   }
}
.container{
	font-size: 18px;
	font-weight: bolder;

}
.nick{
	vertical-align: middle;

	border-radius: 50%;
	filter: grayscale(100%);
}

.navbar {
	margin-top: 10px;
}

}



.aimer {
	margin-left: 100px;
	margin-right: 100px;
	font-size: 20px;
}
.me{
	font-size:25px;
}
.title { font-size: 30px;
	font-weight: lighter;
	margin-top: 120px;
}
.xoxo {
	margin-top: 30px;
	margin-bottom: 100px;
	font-family: 'Homemade Apple', cursive;
	font-size: 20px;
	text-decoration: none; color:red;
}


.title1 {
	font-family: 'Merriweather', serif;
}
.name {
	font-family: 'Frank Ruhl Libre';
	font-size: 25px;
	font-weight: bold;
}
.name2{
	font-size: 15px;
	font-family: 'Frank Ruhl Libre';
	font-weight: bold;
}
.comments{
	font-size: 15px;
	text-align: left;
}
.Questions {
	font-size: 17px;
	font-family: 'Archivo Black',sans-serif;
	font-weight: bold;
	text-decoration:none; color: red;

}
.dropdown-content{
	font-size: 8px;
}
.pic{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:50%;
	margin-top: 25px;
}

.mywork {
	display: center;
	margin-right: auto;
	margin-right: auto;
	
}

a {text-decoration: none;}
a:visited {text-decoration: none;color:black;}
a:hover {text-decoration:none; color:gold;}